@font-face {
  font-family: 'ChunkFive';
  src: url('../fonts/ChunkFive.eot');
  src: url('../fonts/ChunkFive.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ChunkFive.woff2') format('woff2'),
  url('../fonts/ChunkFive.woff') format('woff'),
  url('../fonts/ChunkFive.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
